<div class="row">
	<%= f.label :date_of_birth %>
	<%=date_select "post", "create"%>
</div> 		
<div class="row">
	<%= f.label :city_born%>
	<%= f.text_field :city_born %>
</div> 
<div class="row">
	<%= f.label :hobbie %>
	<%= f.text_field :hobbie %>
</div> 
<div class="row">
	<%= f.label :dream %>
	<%= f.text_field :dream %>
</div> 
<div class="row">
	<%= f.label :job_history %>
	<%= f.text_field :job_history %>
</div> 
<div class="row">
	<%= f.label :fear %>
	<%= f.text_field :fear %>
</div> 
<div class="row">
	<%= f.label :biography %>
	<%= f.text_area :biography %>
</div>
<div class="row">
	<%= f.label :other %>
	<%= f.text_field :other %>
</div>